*
{
    font-family: "Avenir";
    font-weight: lighter;
}

.notification-sandbox
{
    height: auto;
    z-index: 99999;
    position: absolute;
    /*right: 4em;
    top: 2em;*/
}

.frame
{
    min-height: 40px;
    min-width: 250px;
    max-width: 250px;
    height: auto;
    border: 1px solid transparent;
    border-radius: 10px;
    position: relative;
    margin: 10px 0;
    padding: 0px 10px;
}

.slideIn
{
    -webkit-animation-name: slideIn;
}

.slideOut
{
    -webkit-animation-name: slideOut;
}

.error
{
    background-color: #ff0000;
}

.text
{
    color: #eee;
}

.close-button
{
    position: relative;
    float: right;
    font-size: 1em;
    background-color: transparent;
    border: none;
    padding: 0px 5px;
    cursor: pointer;
}
.close-button:hover
{
    background-color: rgba(0, 0, 0, 0.2);
}
.close-button-color
{
    color: #000;
}

.success
{
    background-color: #00ff00;
    color: #000;
}


/* Define transitions here */
@-webkit-keyframes slideIn
{
    from
    {
        right: -100em;
    }

    to
    {
        right: 0.5em;
    }
}

@-webkit-keyframes slideOut
{
    from
    {
        top: 0em;
    }

    to
    {
        top: -100em;
    }
}
